Repository MewsSystems/gitbook-connector-api, pull requests merged in 2024-09, with the labels that each got.

#640 Migrating Age Categories
  _generator/config.yaml
  _generator/types.yaml
  changelog/README.md
  operations/agecategories.md
Labels: Generator, con.connectivity

#610 Document 204 response code
  changelog/README.md
  guidelines/requests.md
  guidelines/responses.md
Labels: con.connectivity

#646 Migrating Accounting Categories
  _generator/config.yaml
  _generator/types.yaml
  operations/accountingcategories.md
Labels: Generator, con.connectivity

#644 Products documentation
  _generator/config.yaml
  _generator/types.yaml
  operations/products.md
Labels: Generator

#654 Rate Groups documentation
  _generator/config.yaml
  _generator/types.yaml
  operations/rategroups.md
Labels: Generator

#655 CON-2194: Migrate accounts for docs generator
  _generator/config.yaml
  _generator/types.yaml
  changelog/README.md
  operations/accounts.md
  operations/companies.md
Labels: Generator

#656 Update of the cancellation policies connector api documentation
  _generator/types.yaml
  changelog/README.md
  operations/README.md
  operations/cancellationpolicies.md
Labels: Documentation

#659 Add companyId for customers/add
  changelog/README.md
  operations/customers.md
Labels: Documentation
