Repository MewsSystems/gitbook-connector-api, pull requests merged in 2024-08, with the labels that each got.

#624 CON-2255 Migrating documentation for Voucher Codes
  _generator/config.yaml
  _generator/types.yaml
  changelog/README.md
  operations/vouchercodes.md
Labels: Generator, con.connectivity

#625 CON-2230 Migrate Outlet Items
  _generator/config.yaml
  _generator/types.yaml
  operations/outletitems.md
Labels: Generator, con.connectivity

#627 Con 2251 migrate sources
  _generator/config.yaml
  _generator/types.yaml
  operations/sources.md
Labels: Generator, con.connectivity

#623 CON-2205 Migrate Companies
  _generator/config.yaml
  _generator/types.yaml
  operations/companies.md
Labels: Generator, con.connectivity

#628 CON-2199: Migrate bills to docs generator
  _generator/config.yaml
  _generator/types.yaml
  changelog/README.md
  operations/bills.md
Labels: Generator

#629 Migrating exports
  _generator/config.yaml
  _generator/types.yaml
  operations/exports.md
Labels: Generator, con.connectivity

#630 CON-2252 Migrate Tasks
  _generator/config.yaml
  _generator/types.yaml
  operations/tasks.md
Labels: Generator, con.connectivity

#632 Added new use case Customer loyalty
  SUMMARY.md
  changelog/README.md
  operations/loyaltyprograms.md
  use-cases/README.md
  use-cases/how-to.md
  use-cases/loyalty.md
Labels: Documentation

#626 Add PreferredLanguageCode for customers/getall
  changelog/README.md
  operations/customers.md
Labels: Documentation

#636 Regenerate documentation + update changelog
  _generator/types.yaml
  changelog/README.md
  operations/availabilityadjustments.md
  operations/bills.md
  operations/cancellationpolicies.md
  operations/exports.md
  operations/orderitems.md
  operations/outletitems.md
  operations/reservations.md
  operations/services.md
  operations/vouchercodes.md
  operations/vouchers.md
Labels: Generator, con.connectivity

#634 Migrating Resource Categories
  _generator/config.yaml
  _generator/types.yaml
  changelog/README.md
  operations/resourcecategories.md
Labels: Generator, con.connectivity

#642 CON-3655: Handle Localized text
  _generator/types.yaml
  operations/services.md
Labels: Generator
